.footer {
    max-width: 300px; /* alterei pra meu nome ficar comppleto e não quebrado */
    max-height: 16px;
    margin: 92px auto 24px;
    font-family: "Inter Regular", Arial, sans-serif;
    font-size: 14px;
    line-height: 16px;
}
@media screen and (max-width: 768px) {
    .footer {
      max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .footer {
      max-width: 320px;
    }
  }