.header {
  text-align: center;
  margin: 0 auto;
}

.header__logo {
  padding-top: 34px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .header__logo {
    width: 254px;
    height: 66px;
    padding-top: 30px;
    margin: 0;
  }
}
